.PrivacyManager {

}

	.PrivacyManager_page_button {
		background-color: #ff8225;
		border: 1px solid #000000;
		font-size: 25px;
		color: #000000;
		font-weight: bold;
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		cursor: pointer;
		margin: 10px;
	}

	.PrivacyManager_notice {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 45px;
		height: 45px;
		cursor: pointer;
		background-color: #000000;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		padding: 3px;
		z-index: 100000;
	}
	
		.PrivacyManager_notice_content {
			border: 1px solid #FFFFFF;
			background: url(../images/gear.png) center center no-repeat;
			background-size: 32px 32px;		
		}

	.PrivacyManager_wrapper {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;

		
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 100000;
		top: 0;
		left: 0;
		background: url(../images/privacy/border5.png);
	}
	
	.PrivacyManager_border_0, .PrivacyManager_border_1, .PrivacyManager_border_2, .PrivacyManager_border_3, .PrivacyManager_border_4, 
	.PrivacyManager_border_5, .PrivacyManager_border_6, .PrivacyManager_border_7, .PrivacyManager_border_8, .PrivacyManager_border_9,
	.PrivacyManager_border_10, .PrivacyManager_border_11 {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
	}
	
	.PrivacyManager_border_0 {
		background: url(../images/border_r1.png) top left repeat-x;
		background-size: calc(74px * 0.22) calc(198px * 0.22);
	}
	.PrivacyManager_border_1 {
		background: url(../images/border_r2.png) top left repeat-y;
		background-size: calc(204px * 0.22) calc(53px * 0.22);
	}
	.PrivacyManager_border_2 {
		background: url(../images/border_r3.png) bottom left repeat-x;
		background-size: calc(74px * 0.22) calc(220px * 0.22);
	}
	.PrivacyManager_border_3 {
		background: url(../images/border_r4.png) top right repeat-y;
		background-size: calc(202px * 0.22) calc(65px * 0.22);
	}
	.PrivacyManager_border_4 {
		background: url(../images/border1.png) top left no-repeat;
		background-size: calc(204px * 0.22) calc(198px * 0.22);
	}
	.PrivacyManager_border_5 {
		background: url(../images/border2.png) top center no-repeat;
		background-size: calc(1214px * 0.22) calc(198px * 0.22);
	}
	.PrivacyManager_border_6 {
		background: url(../images/border3.png) top right no-repeat;
		background-size: calc(202px * 0.22) calc(198px * 0.22);
	}
	.PrivacyManager_border_7 {
		background: url(../images/border4.png) center left no-repeat;
		background-size: calc(204px * 0.22) calc(853px * 0.22);
	}
	.PrivacyManager_border_8 {
		background: url(../images/border6.png) center right no-repeat;
		background-size: calc(202px * 0.22) calc(853px * 0.22);
	}
	.PrivacyManager_border_9 {
		background: url(../images/border7.png) bottom left no-repeat;
		background-size: calc(204px * 0.22) calc(220px * 0.22);
	}
	.PrivacyManager_border_10 {
		background: url(../images/border8.png) bottom center no-repeat;
		background-size: calc(1214px * 0.22) calc(220px * 0.22);
	}
	.PrivacyManager_border_11 {
		background: url(../images/border9.png) bottom right no-repeat;
		background-size: calc(202px * 0.22) calc(220px * 0.22);
		padding: 20px;
	}
	
	

		@keyframes fadeAway {
			0% {
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}
		
		@keyframes fadeIn {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}

		.PrivacyManager_wrapper_close {
			animation: fadeAway 300ms ease-in 1;
		}

		.PrivacyManager_wrapper_open {
			animation: fadeIn 300ms ease-out 1;
		}

		.PrivacyManager_center_wrapper {
			display: flex;
			justify-content: space-around;
			flex-direction: column;
		}

			.PrivacyManager_title {
				font-family: 'black-widow', Arial;
				color: #FFFFFF;
				font-size: 82px;
				text-align: center;
			}

			.PrivacyManager_message {
				font-size: 25px;
				color: #FFFFFF;
				font-family: "Times New Roman";
				font-variant: small-caps;
				text-align: center;
				padding-left: 20px;
				padding-right: 20px;
			}

			.PrivacyManager_button_wrapper {
				display: grid;
				grid-template-rows: auto auto;
				justify-content: center;
				align-items: center;
			}
				.PrivacyMangaer_accept, .PrivacyMangaer_reject {
					font-weight: bold;
					display: inline-block;
					padding: 10px;
					border-radius: 6px;
					word-wrap: nowrap;
					margin-left: 15px;
					margin-right: 15px;
					cursor: pointer;
					font-family: Arial;
					padding-left: 20px;
					padding-right: 20px;
					text-align: center;
				}
				
				.PrivacyMangaer_accept {
					color: #000000;
					background-color: #FFFFFF;				
				}

				.PrivacyMangaer_reject {
					margin-top: 10px;
					color: #FFFFFF;
				}
				
	@media (min-width: 600px) and (min-height: 600px) {
		.PrivacyManager_border_0 {
			background-size: calc(74px * 0.4) calc(198px * 0.4);
		}
		.PrivacyManager_border_1 {
			background-size: calc(204px * 0.4) calc(53px * 0.4);
		}
		.PrivacyManager_border_2 {
			background-size: calc(74px * 0.4) calc(220px * 0.4);
		}
		.PrivacyManager_border_3 {
			background-size: calc(202px * 0.4) calc(65px * 0.4);
		}
		.PrivacyManager_border_4 {
			background-size: calc(204px * 0.4) calc(198px * 0.4);
		}
		.PrivacyManager_border_5 {
			background-size: calc(1214px * 0.4) calc(198px * 0.4);
		}
		.PrivacyManager_border_6 {
			background-size: calc(202px * 0.4) calc(198px * 0.4);
		}
		.PrivacyManager_border_7 {
			background-size: calc(204px * 0.4) calc(853px * 0.4);
		}
		.PrivacyManager_border_8 {
			background-size: calc(202px * 0.4) calc(853px * 0.4);
		}
		.PrivacyManager_border_9 {
			background-size: calc(204px * 0.4) calc(220px * 0.4);
		}
		.PrivacyManager_border_10 {
			background-size: calc(1214px * 0.4) calc(220px * 0.4);
		}
		.PrivacyManager_border_11 {
			background-size: calc(202px * 0.4) calc(220px * 0.4);
		}
		
		.PrivacyManager_message {
			padding-left: 25%;
			padding-right: 25%;
		}
	}