.CountdownDisplay {
	font-family: Arial;
	padding-left: 20px;
	padding-right: 20px;
	
}
	.CountdownDisplay_waiting {
		display: grid;
		grid-template-rows: auto auto;
		grid-gap: 10px;
	}
		.CountdownDisplay_header, .CountdownDisplay_redirecting {
			font-size: 32px;
			font-weight: bold;
			color: #555555;
			text-align: center;
		}
		
		.CountdownDisplay_counter {
			font-size: 25px;
			font-weight: normal;
			color: #888888;
			text-align: center;
		}
		
		@keyframes flash {
			0% {
				color: #555555;
			}
			100% {
				color: #888888;
			}
		}
		
		.CountdownDisplay_counter_change_animation {
			animation: flash 700ms ease-in 1;
		}
		
		.CountdownDisplay_home_wrapper {
			padding-top: 20px;
			text-align: center;
		}
		
		.CountdownDisplay_home_button {
			display: inline-block;
			width: 200px;
			height: 60px;
			background-color: #fb6205;
			border: 1px solid #000000;
			border-radius: 5px;
			cursor: pointer;
			line-height: 60px;
			font-size: 20px;
			font-weight: bold;
			color: #000000;
		}


@media (max-width: 500px) {
	.CountdownDisplay_header {
		font-size: 20px;
	}
	
	.CountdownDisplay_counter {
		font-size: 15px;
	}
}