.CountdownDisplay {
	font-family: Arial;
	
}
	.CountdownDisplay_waiting {
		display: grid;
		grid-template-rows: auto auto;
		grid-gap: 10px;
	}
		.CountdownDisplay_header {
			font-size: 32px;
			font-weight: bold;
			color: #555555
		}
		
		.CountdownDisplay_counter {
			font-size: 25px;
			font-weight: normal;
			color: #888888;
		}
		
		@keyframes flash {
			0% {
				color: #555555;
			}
			100% {
				color: #888888;
			}
		}
		
		.CountdownDisplay_counter_change_animation {
			animation: flash 700ms ease-in 1;
		}
	
	.CountdownDisplay_redirecting {

	}

