/* The container for 1 legend item */
.SpookyMapLegendItem {
	display: inline-grid;
	grid-template-columns: auto auto;
	grid-gap: 5px;
	align-items: center;
	justify-items: center;
}

	/* The legend icon */
	.SpookyMapLegendItem_image {
		width: 18px;
		height: 18px;
	}

	/* The legend label */
	.SpookyMapLegendItem_label {
		white-space: nowrap;
		font-weight: bold;
		color: #FFFFFF;
		font-family: Arial;
		font-size: 16px;
		padding-right: 14px;
	}

/* The main wrapper for the controls and the map */
.SpookyMap {
	position: fixed;
	top: 0;
	left: 0;
	display: grid;
	grid-template-rows: auto 1fr;
}

	/* The control bar */
	.SpookyMap_controls {
		display: grid;
		min-height: 20px;
		padding: 10px;
		padding-right: 0px;
		background: url(../images/window/border5.png);

		grid-template-columns: 80px 1fr;
		grid-gap: 5px;
		
		border-bottom: 1px solid #000000;
	}
		
		/* The box that contains the legend */
		.SpookyMap_legend {
			text-align: right;
		}
	
		/* The back button */
		.SpookyMap_button {
			background-image: url(../images/back.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-color: #DDDDDD;
			border-radius: 4px;
		}
		
	/* Make the background scroll up and to the left */
	@keyframes slideUpAndLeft {
		0% {
			background-position: 300px 300px;
		}
		100% {
			background-position: 0px 0px;
		}
	}

	/* The DIV that contains the actual map */
	.SpookyMap_wrapper {
		display: grid;
		grid-template-rows: 1fr;
		
		background-size: cover !important;
		
		/*animation: slideUpAndLeft 15s linear infinite;*/
	}