.TipManager {

}

	@keyframes fadeAway {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	.TipManager_opening {
		animation: fadeIn 700ms ease-out 1;
	}
	
	.TipManager_hide {
		animation: fadeAway 700ms ease-in 1;
	}

	.TipManagerPanel_wrapper {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;


		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9999;
		top: 0;
		left: 0;
		background: url(../images/window/border5.png);
	}

	.TipManagerPanel_border_0, .TipManagerPanel_border_1, .TipManagerPanel_border_2, .TipManagerPanel_border_3, .TipManagerPanel_border_4, 
	.TipManagerPanel_border_5, .TipManagerPanel_border_6, .TipManagerPanel_border_7, .TipManagerPanel_border_8, .TipManagerPanel_border_9,
	.TipManagerPanel_border_10, .TipManagerPanel_border_11 {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
	}

	.TipManagerPanel_border_0 {
		background: url(../images/window/border_r1.png) top left repeat-x;
		background-size: calc(74px * 0.22) calc(198px * 0.22);
	}
	.TipManagerPanel_border_1 {
		background: url(../images/window/border_r2.png) top left repeat-y;
		background-size: calc(204px * 0.22) calc(53px * 0.22);
	}
	.TipManagerPanel_border_2 {
		background: url(../images/window/border_r3.png) bottom left repeat-x;
		background-size: calc(74px * 0.22) calc(220px * 0.22);
	}
	.TipManagerPanel_border_3 {
		background: url(../images/window/border_r4.png) top right repeat-y;
		background-size: calc(202px * 0.22) calc(65px * 0.22);
	}
	.TipManagerPanel_border_4 {
		background: url(../images/window/border1.png) top left no-repeat;
		background-size: calc(204px * 0.22) calc(198px * 0.22);
	}
	.TipManagerPanel_border_5 {
		background: url(../images/window/border2.png) top center no-repeat;
		background-size: calc(1214px * 0.22) calc(198px * 0.22);
	}
	.TipManagerPanel_border_6 {
		background: url(../images/window/border3.png) top right no-repeat;
		background-size: calc(202px * 0.22) calc(198px * 0.22);
	}
	.TipManagerPanel_border_7 {
		background: url(../images/window/border4.png) center left no-repeat;
		background-size: calc(204px * 0.22) calc(853px * 0.22);
	}
	.TipManagerPanel_border_8 {
		background: url(../images/window/border6.png) center right no-repeat;
		background-size: calc(202px * 0.22) calc(853px * 0.22);
	}
	.TipManagerPanel_border_9 {
		background: url(../images/window/border7.png) bottom left no-repeat;
		background-size: calc(204px * 0.22) calc(220px * 0.22);
	}
	.TipManagerPanel_border_10 {
		background: url(../images/window/border8.png) bottom center no-repeat;
		background-size: calc(1214px * 0.22) calc(220px * 0.22);
	}
	.TipManagerPanel_border_11 {
		background: url(../images/window/border9.png) bottom right no-repeat;
		background-size: calc(202px * 0.22) calc(220px * 0.22);
		padding: 20px;
		
		padding-top:40px;
		padding-bottom: 40px;
	}



		.TipManagerPanel_wrapper_close {
			animation: fadeAway 300ms ease-in 1;
		}

		.TipManagerPanel_wrapper_open {
			animation: fadeIn 300ms ease-out 1;
		}

		.TipManagerPanel_center_wrapper {
			display: flex;
			justify-content: space-around;
			flex-direction: column;
			overflow: auto;
		}

			.TipManagerPanel_image_wrapper {
				text-align: center;
			}

				.TipManagerPanel_image {

				}

			.TipManagerPanel_title {
				font-family: 'black-widow', Arial;
				color: #FFFFFF;
				font-size: 82px;
				text-align: center;
			}

			.TipManagerPanel_message {
				font-size: 25px;
				color: #FFFFFF;
				font-family: "Times New Roman";
				font-variant: small-caps;
				text-align: center;
				padding-left: 20px;
				padding-right: 20px;
			}

			.TipManagerPanel_button_wrapper {
				display: grid;
				grid-template-columns: auto auto;
				grd-gap: 10px;
				justify-content: center;
				align-items: center;
			}
				.TipManagerPanel_next, .TipManagerPanel_back {
					font-weight: bold;
					display: inline-block;
					padding: 10px;
					border-radius: 6px;
					word-wrap: nowrap;
					margin-left: 15px;
					margin-right: 15px;
					cursor: pointer;
					font-family: Arial;
					padding-left: 20px;
					padding-right: 20px;
					text-align: center;
					color: #000000;
					background-color: #FFFFFF;
				}

				.TipManagerPanel_back_disabled {
					opacity: 0.5;
					cursor: default;
				}

	@media (min-width: 600px) and (min-height: 600px) {
		.TipManagerPanel_border_0 {
			background-size: calc(74px * 0.4) calc(198px * 0.4);
		}
		.TipManagerPanel_border_1 {
			background-size: calc(204px * 0.4) calc(53px * 0.4);
		}
		.TipManagerPanel_border_2 {
			background-size: calc(74px * 0.4) calc(220px * 0.4);
		}
		.TipManagerPanel_border_3 {
			background-size: calc(202px * 0.4) calc(65px * 0.4);
		}
		.TipManagerPanel_border_4 {
			background-size: calc(204px * 0.4) calc(198px * 0.4);
		}
		.TipManagerPanel_border_5 {
			background-size: calc(1214px * 0.4) calc(198px * 0.4);
		}
		.TipManagerPanel_border_6 {
			background-size: calc(202px * 0.4) calc(198px * 0.4);
		}
		.TipManagerPanel_border_7 {
			background-size: calc(204px * 0.4) calc(853px * 0.4);
		}
		.TipManagerPanel_border_8 {
			background-size: calc(202px * 0.4) calc(853px * 0.4);
		}
		.TipManagerPanel_border_9 {
			background-size: calc(204px * 0.4) calc(220px * 0.4);
		}
		.TipManagerPanel_border_10 {
			background-size: calc(1214px * 0.4) calc(220px * 0.4);
		}
		.TipManagerPanel_border_11 {
			background-size: calc(202px * 0.4) calc(220px * 0.4);
		}

		.TipManagerPanel_message {
			padding-left: 25%;
			padding-right: 25%;
		}
	}

